*.savf
*.swp
/.psa*
/.psc*
/.psc-package/
/.pulp-cache/
/.purs*
/.spago
/Session.vim
/bower_components/
/generated-docs/
/node_modules/
/output/
config/*
logs/*.log
logs/exceptions/*.exceptions
temp/*.*
temp/*/*
node_modules/**
logs/exceptions/*.exceptions
jsconfig.json
EC2/**
dist/**
.nyc_output/**
.coverage/**
docs/**
.DS_Store
qsys/*.clleinc
qsys/*.rpgleinc
qsys/*.js
qsys/*.ts
qsys/*api.rpgle
