node_modules/**
.vscode/**
logs/*.log
logs/exceptions/*.exceptions
jsconfig.json
EC2/**
dist/**
.nyc_output/**
.coverage/**
docs/**
.DS_Store
.npmrc
*.savf
*.swp
/.psa*
/.psc*
/.psc-package/
/.pulp-cache/
/.purs*
/.spago
/Session.vim
/bower_components/
/generated-docs/
/output/
config/*
src/services/*api.js
temp/*.*
temp/*/*
qsys/*.clleinc
qsys/*.rpgleinc
qsys/*.js
qsys/*.ts
