node_modules/**
.vscode/**
logs/*.log
logs/exceptions/*.exceptions
jsconfig.json
EC2/**
dist/**
.nyc_output/**
.coverage/**
docs/**
.DS_Store
.npmrc
*.savf
*.swp
/.psa*
/.psc*
/.psc-package/
/.pulp-cache/
/.purs*
/.spago
/Session.vim
/bower_components/
/generated-docs/
/output/
src/services/*api.js
src/config/development.json
src/config/production.json
temp/*.*
temp/*/*
native/*.clleinc
native/*.rpgleinc
native/*.js
native/*.ts
